<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>perças cadastradas</h1>

    <h1>Cursos</h1>

    <p><a href="{% url 'percas_cadastrar'%}">Cadastrar novo Curso</a></p>
    
    <p>Lista de Cursos Cadastrados</p>
    {% for percas in todas_percas %}
    <p>{{percas.nome}} {{percas.descricao}}  {{percas.valor_compra}} {{percas.valor_venda}} |
        
    {% empty %}
    <p>Nenhuma perças cadastrado</p>
    {% endfor %}
</body>
</html>