<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Pagina de login</h2>

    <form method="post">
        {% csrf_token %}
        <div>Usuario: {{form.username}}</div>
        <div>Senha: {{form.password}}</div>
     
        <div><input type="submit" value="Autenticar"></div>
     
       </form>

</body>
</html>